html {
  box-sizing: border-box;
  font-size: 10px;
  background: #d3bec7;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', cursive;
}

h1 {
  text-align: center;
  color: #1e2928;
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 0;
}

.score {
  background: rgba(43, 27, 27, 0.1);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 50%;
}

.game {
  width: 600px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.hole.up .mole {
  top: 10px;
}

#button {
  background-color: rgb(46, 14, 14);
  color: rgb(238, 238, 238);
  font-weight: bold;
  background-size: 10em;
  width: 100px;
  height: 40px;
  margin: 10px 0 0 50px;
  border-radius: 20px;
}
